@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

:root {
    --header-height: 3.5rem;

    --hue: 14;
    --first-color: hsl(var(--hue), 91%, 54%);
    --first-color-alt: hsl(var(--hue), 91%, 50%);
    --title-color: hsl(var(--hue), 4%, 100%);
    --text-color: hsl(var(--hue), 4%, 85%);
    --text-color-light: hsl(var(--hue), 4%, 55%);

    /* GREEN GRADIENT*/
    /* --body-color: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(58, 28%, 40%) 100%);
    --container-color: linear-gradient(136deg, hsl(104, 28%, 35%) 0%, hsl(58, 28%, 35%) 100%); */

    /* RED */
    /* --body-color: linear-gradient(90deg, hsl(360, 28%, 40%) 0%, hsl(18, 28%, 40%) 100%);
    --container-color: linear-gradient(136deg, hsl(360, 28%, 35%) 0%, hsl(18, 28%, 35%) 100%); */

    /* BLACK */
    --body-color: hsl(30, 8%, 8%);
    --container-color: hsl(30, 8%, 10%);

    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    --font-medium: 500;
    --font-semi-bold: 600;
    --font-black: 900;

    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 992px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    font-family: var(--body-color);
    font-size: var(--normal-font-size);
}

.section {
    padding: 4.5rem 0 2rem;
}

.section-title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: var(--body-color);
    position: fixed;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: var(--font-medium);
}

.nav-logo-img {
    width: 1.25rem;
}

.nav-link,
.nav-logo,
.nav-toggle,
.nav-close {
    color: var(--title-color);
}

.nav-toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav-menu {
        position: fixed;
        width: 100%;
        background: var(--container-color);
        top: -100%;
        left: 0;
        padding: 3.5rem 0;
        transition: 0.4s;
        z-index: var(--z-fixed);
        border-radius: 0 0 1.5rem 1.5rem;
    }
}

.nav-img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-close {
    cursor: pointer;
    top: 0.5rem;
    right: 0.7rem;
    font-size: 1.8rem;
    position: absolute;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.nav-link {
    text-transform: uppercase;
    font-weight: var(--font-black);
    transition: 0.4s;
}

.nav-link:hover {
    color: var(--text-color);
}

.show-menu {
    top: 0;
}

.scroll-header {
    background: var(--container-color);
}

.active-link {
    position: relative;
}

.active-link::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
}

.home-content {
    row-gap: 1rem;
}

.home-group {
    display: grid;
    position: relative;
    padding-top: 2rem;
}

.home-img {
    height: 250px;
    justify-self: center;
}

.home-indicator {
    width: 8px;
    height: 8px;
    background-color: var(--title-color);
    border-radius: 50%;
    position: absolute;
    top: 7rem;
    right: 2rem;
}

.home-indicator::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 48px;
    background-color: var(--title-color);
    top: -3rem;
    right: 45%;
}

.home-details-img {
    position: absolute;
    right: 0.5rem;
}

.home-details-title,
.home-details-subtitle {
    display: block;
    font-size: var(--small-font-size);
    text-align: right;
}

.home-subtitle {
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    margin-bottom: var(--mb-1);
}

.home-title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-black);
    line-height: 109%;
    margin-bottom: var(--mb-1);
}

.home-description {
    margin-bottom: var(--mb-1);
}

.home-buttons {
    display: flex;
    justify-content: space-between;
}

.swiper-pagination {
    position: inherit;
    margin-top: var(--mb-1);
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.5rem;
}

.swiper-pagination-bullet-active {
    width: 1.5rem;
    height: 5px;
    border-radius: 0.5rem;
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button-icon {
    font-size: 1.25rem;
}

.button-ghost {
    border: 2px solid;
    background-color: transparent;
    border-radius: 3rem;
    padding: 0.75rem 1.5rem;
}

.button-ghost:hover {
    background: none;
}

.button-link {
    color: var(--title-color);
}

.button-flex {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
}

.category-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
}

.category-data {
    text-align: center;
}

.category-img {
    width: 120px;
    margin-bottom: var(--mb-0-75);
    transition: 0.3s;
}

.category-title {
    margin-bottom: var(--mb-0-25);
}

.category-data:hover,
.category-img {
    transform: translateY(-0.5rem);
}

.about-container {
    row-gap: 2rem;
}

.about-data {
    text-align: center;
}

.about-description {
    margin-bottom: var(--mb-2);
}

.about-img {
    width: 200px;
    justify-self: center;
}

.trick-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 1rem;
}

.trick-content {
    position: relative;
    background: var(--container-color);
    border-radius: 1rem;
    padding: 1.5rem 0 1rem 0;
    text-align: center;
    overflow: hidden;
}

.trick-img {
    width: 90px;
    transition: 0.3s;
}

.trick-subtitle,
.trick-price {
    display: block;
}

.trick-subtitle {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-5);
}

.trick-title,
.trick-price {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
}

.trick-button {
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    position: absolute;
    right: -3rem;
    bottom: 0;
}

.trick-icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.trick-content:hover .trick-img {
    transform: translateY(-0.5rem);
}

.trick-content:hover .trick-button {
    right: 0;
}

.discount-container {
    background: var(--container-color);
    border-radius: 1rem;
    padding: 2.5rem 0 1.5rem;
    row-gap: 0.75rem;
}

.discount-data {
    text-align: center;
}

.discount-title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
}

.discount-img {
    width: 200px;
    justify-self: center;
}

.new-container {
    padding-top: 1rem;
}

.new-img {
    width: 120px;
    margin-bottom: var(--mb-0-5);
    transition: 0.3s;
}

.new-content {
    position: relative;
    background: var(--container-color);
    width: 242px;
    padding: 2rem 0 1.5rem 0;
    border-radius: 0.75rem;
    text-align: center;
    overflow: hidden;
}

.new-tag {
    position: absolute;
    top: 8%;
    left: 8%;
    background-color: var(--first-color);
    color: var(--title-color);
    font-size: var(--small-font-size);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.new-title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.new-subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-5);
}

.new-prices {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
}

.new-price {
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.new-discount {
    color: var(--first-color);
    font-size: var(--smaller-font-size);
    text-decoration: line-through;
    font-weight: var(--font-medium);
}

.new-button {
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    position: absolute;
    bottom: 0;
    right: -3rem;
}

.new-icon {
    font-size: 1.25rem;
}

.new-content:hover .new-img {
    transform: translateY(-0.5rem);
}

.new-content:hover .new-button {
    right: 0;
}

.newsletter-description {
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.newsletter-form {
    background: var(--container-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.75rem;
}

.newsletter-input {
    width: 70%;
    padding: 0 0.5rem;
    background: none;
    color: var(--title-color);
}

.newsletter-input::placeholder {
    color: var(--text-color);
}

.footer {
    position: relative;
    overflow: hidden;
}

.footer-img-one,
.footer-img-two {
    position: absolute;
    transition: 0.3s;
}

.footer-img-one {
    width: 100px;
    top: 6rem;
    right: -2rem;
}

.footer-img-two {
    width: 150px;
    bottom: 4rem;
    right: 0.4rem;
}

.footer-img-one:hover,
.footer-img-two:hover {
    transform: translateY(-0.5rem);
}

.footer-container {
    row-gap: 2rem;
}

.footer-logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.footer-logo-img {
    width: 20px;
}

.footer-description {
    margin-bottom: var(--mb-2-5);
}

.footer-social {
    display: flex;
    column-gap: 0.75rem;
}

.footer-social-link {
    display: inline-block;
    background: var(--container-color);
    padding: 0.25rem;
    border-radius: 0.25rem;
    color: var(--title-color);
    font-size: 1rem;
}

.footer-social-link:hover {
    background: var(--body-color);
}

.footer-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.footer-links {
    display: grid;
    row-gap: 0.35rem;
}

.footer-link {
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: 0.3s;
}

.footer-link:hover {
    color: var(--title-color);
}

.footer-copy {
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 4.5rem;
}

.scrollup {
    position: fixed;
    background: var(--container-color);
    right: 1rem;
    bottom: -20%;
    display: inline-flex;
    padding: 0.3rem;
    border-radius: 0.25rem;
    z-index: var(--z-tooltip);
    opacity: 0.8;
    transition: 0.4s;
}

.scrollup-icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.scrollup:hover {
    background: var(--container-color);
    opacity: 1;
}

.show-scroll {
    bottom: 3rem;
}

::-webkit-scrollbar {
    width: 0.6rem;
    background: #413e3e;
}

::-webkit-scrollbar-thumb {
    background: #272525;
    border-radius: 0.5rem;
}

/* BREAKPOINTS */

/* FOR SMALL DEVICES */
@media screen and (max-width: 320px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home-img {
        height: 200px;
    }

    .home-buttons {
        flex-direction: column;
        width: max-content;
        row-gap: 1rem;
    }

    .category-container,
    .trick-container {
        grid-template-columns: 0.8fr;
        justify-content: center;
    }
}

/* FOR MEDIUM DEVICES */
@media screen and (min-width: 576px) {
    .about-container {
        grid-template-columns: 0.8fr;
        justify-content: center;
    }

    .newsletter-container {
        display: grid;
        grid-template-columns: 0.7fr;
        justify-content: center;
    }

    .newletter-description {
        padding: 0 3rem;
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .section {
        padding: 7rem 0 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav-img,
    .nav-close,
    .nav-toggle {
        display: none;
    }

    .nav-list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav-link {
        text-transform: initial;
        font-weight: initial;
    }

    .home-content {
        padding: 8rem 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

    .home-img {
        height: 300px;
    }

    .swiper-pagination {
        margin-top: var(--mb-2);
    }

    .category-container {
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
    }

    .about-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .about-title,
    .about-data {
        text-align: initial;
    }

    .about-img {
        width: 250px;
    }

    .trick-container {
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
        gap: 2rem;
    }

    .discount-container {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        column-gap: 3rem;
        padding: 3rem 0;
        border-radius: 3rem;
    }

    .discount-img {
        width: 350px;
        order: -1;
    }

    .discount-data {
        padding-right: 6rem;
    }

    .newsletter-container {
        grid-template-columns: 0.5fr;
    }

    .footer-container {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        column-gap: 1rem;
    }

    .footer-img-two {
        right: initial;
        bottom: 0;
        left: 15%;
    }
}

/* FOR LARGE DEVICES */
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .home-content {
        padding-top: 9rem;
        gap: 3rem;
    }

    .home-group {
        padding-top: 0;
    }

    .home-img {
        height: 400px;
        transform: translateY(-3rem);
    }

    .home-indicator {
        top: initial;
        right: initial;
        bottom: 15%;
        left: 45%;
    }

    .home-indicator::after {
        top: 0;
        height: 75px;
    }

    .home-details-img {
        bottom: 0;
        right: 58%;
    }

    .home-title {
        margin-bottom: var(--mb-1-5);
        padding-right: 2rem;
    }

    .category-container {
        column-gap: 8rem;
    }

    .category-img {
        width: 200px;
    }

    .about-img {
        width: 300px;
    }

    .about-description {
        padding-right: 2rem;
    }

    .trick-container {
        gap: 3.5rem;
    }

    .trick-content {
        border-radius: 1.5rem;
    }

    .trick-img {
        width: 110px;
    }

    .trick-title {
        font-size: var(--h3-font-size);
    }

    .discount-container {
        column-gap: 7rem;
    }

    .new-content {
        width: 310px;
        border-radius: 1rem;
        padding: 2rem 0;
    }

    .new-img {
        width: 150px;
    }

    .new-img,
    .new-subtitle {
        margin-bottom: var(--mb-1);
    }

    .new-title {
        font-size: var(--h3-font-size);
    }

    .footer-copy {
        margin-top: 6rem;
    }
}

@media screen and (min-width: 1200px) {
    .home-img {
        height: 420px;
    }

    .swiper-pagination {
        margin-top: var(--mb-2-5);
    }

    .footer-img-one {
        width: 120px;
    }

    .footer-img-two {
        width: 180px;
        top: 30%;
        left: -3%;
    }
}
